*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}


body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #014033;
}
.logo {
  color: #fff;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links  a {
  color: #eeeeee;
  font-weight: 700;
}


/*card*/
.card{
  border: 1px solid #73bb00;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  padding:20px;
  margin: 10px;
  text-align: center;
  max-width: 280px;
  display: inline-block;

}

.card .card-image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: arial, sans-seriff;
  margin: 0;
  color: #73bb00;
}

.card .card-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}